
h1{
  margin-top: 250px;
  margin-left: 180px;
  color:#F8F8FF;
  text-align: center;
  font-size: 70px;
  position: absolute;
  font-family: 'Raleway', sans-serif;
  
}
h2{
  color: black;
  text-align: center;
  font-family: 'Raleway', sans-serif;
}
h3{
  color: black;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-size: 22px;
  text-align: justify;
}
.navbar {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: .5rem 1rem;
    background-color: white;
    -webkit-box-shadow: 0 8px 6px -6px black;
	   -moz-box-shadow: 0 8px 6px -6px black;
          box-shadow: 0 8px 6px -6px black;
    opacity: 0.99;
    margin-bottom: 10px;
}
.navbar-light .navbar-nav .nav-link {
    color:#303030;
}
.navbar-brand {
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 27px;
    line-height: inherit;
    white-space: nowrap;
   
}

.parallax-style{
  margin-top: 65px;
  width: 100%;
  height: 680px;
}



/********ABOUT SECTION STYLING *********/

.about-title{
  font-family: 'Raleway', sans-serif;
  font-size: 80px;
  padding: 5px;
  margin-top: 25px;
  font-weight: 200;
  
}

.about-section{
  margin: 40px;
  margin-left: 160px;

  
}
.about-image{
  height: 300px;
  width: 330px;
}
.about-me{
  margin-left: 40px;
  line-height: 1.8;
  margin-top: -10px;
  
}

.cards-row{
  margin: 60px;
}

/********SCHEDULES STYLING********/

.schedules-info{
  margin: 50px;
}

.schedule-title{
  font-family: 'Raleway', sans-serif;
  font-size: 36px;
  color: black;
  margin-top: 20px;
  margin-left: 65px;
}

.schedule-morning{
  font-size: 22px;
  margin-left: 65px;
  line-height: 1.5;
}

.schedule-list{
  margin-top: 100px;
}

/********CAROUSEL***********/

.carousel-image {
  margin: auto;
  width: 100%;
  height: 710px;    
  object-fit: cover;
  
}

 .carousel-labels{
  font-family: 'Raleway', sans-serif;
  font-size: 36px;
  color: black;
}
.first-slide-section{
  width: 400px;
  padding: 50px;
  margin: 20px;
  background-color: white;
  -webkit-animation-duration: 5s;
            animation-duration: 5s;
            -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
}
@-webkit-keyframes fadeIn {
            0% {opacity: 0;}
            100% {opacity: 0.7;}
         }
         
         @keyframes fadeIn {
            0% {opacity: 0;}
            100% {opacity: 0.7;}
         }
         
         .fadeIn {
            -webkit-animation-name: fadeIn;
            animation-name: fadeIn;
         }





